

.container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 128px 1fr auto;
    grid-template-areas: "header"
                         "main"
                         "footer"  
}
header{
    grid-area: header;
    height: 128px;
}
main{grid-area: main;}
footer{grid-area: footer;}

.top-nav {
    
    width: 1920px;
    height: 44px;
    background-color:rgb(63, 59, 59);
    display:flex;
}
.toolbar1-nav {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: calc(44px/2 - 21px/2);
    height: 21px;

}
.toolbar2-nav {
    list-style-type: none;
    display:flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    height: 44px;
}
.top-nav__left__p{
position: absolute;
width: 206px;
height: 21px;
left: 345px;
top: calc(50% - 21px/2 - 0.5px);
}
.top-nav_font{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;  
    color: #FFFFFF;
    opacity: 0.6;
}
.top-nav_font2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.6;
}
.top-nav_font3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.toolbar2-nav__lang__ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items:center;
    width: 100px;
    height: 41px;
}
.toolbar2-nav__acc__ul {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 21px;
}
.top-nav__left {
    width:33.33%;
    background-color: #1E212C;
    display: flex;
    align-items: center;
}
.top-nav__middle {
    width:33.33%;
    background-color: #1E212C;
}
.top-nav__right {
    width:33.33%;
    background-color: #1E212C;
}
.bot-nav{
    width: 1920px;
    height: 84px;
    }
.bot-nav__logo{
    position: absolute;
    left: 345px; 
    top: 75px;
    height: 22px;
    width: 130px; 
    padding: 0px;
}
.bot-nav__menu{
    position: absolute;
    width: 348px;
    height: 26px;
    margin-left: 535px;
    top: calc(44px + 84px/2 - 26px/2);
    padding: 0px;
    display:flex;  
    justify-content:space-between;
    align-items: center;
}
.bot-nav__menu_font {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;  
    color: #424551;
}
.bot-nav__menu_font2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: #FF4242;
}
.bot-nav__search{
    position: absolute;
    width: 380px;
    height: 44px;
    left: 1016px;
    top: 64px;  
}
.bot-nav__search2 {
    width: 380px;
    height: 44px;
    border: 1px solid #D7DADD;
    box-sizing: border-box;
    border-radius: 4px;
}
.bot-nav__search__text {
   position: absolute;
   width: 130px;
   height: 21px;
   left: 16px;
   top: 11px;
   font-family: Lato;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 150%;
   color: #9A9CA5;
}
.bot-nav__search__img {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 16px;
    top: 14px;
}
.bot-nav__menu2 {
   position: absolute;
   width: 131px;
   height: 26px;
   left: 1444px;
   top: 73px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.bot-nav__menu2__wishlist {
   position: static;
   width: 38px;
   height: 26px;
   left: 0px;
   top: 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.bot-nav__menu2__like {
    width: 20px;
    height: 20px;
}
.bot-nav__menu2__text {
    width: 10px;
    height: 26px;
    color: #424551;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
}
.bot-nav__menu2__divider {
    position: static;
    width: 22px;
    height: 1px;
    left: 58px;
    top: 2px;
    transform: rotate(90deg); 
}
.bot-nav__menu2__cart {
    position: static;
    width: 53px;
    height: 22px;
    left: 78px;
    top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bot-nav__menu2__cartpic {
    width: 22px;
    height: 22px;   
}
.bot-nav__menu2__badge {
    width: 23px;
    height: 20px; 
    top: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    background: #03CEA4;
    border-radius: 4px;
}
.bot-nav__menu2_text2 {
    width: 7px;
    height: 18px;  
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}
.banner-sale {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 1920px;
  height:34px;
  background: #17696A;
}
.banner-sale__text {
    display:flex;
    position: absolute;
    width: 274px;
    height: 18px;
    align-items: center;
}
.banner-sale__text__Box-chevronL {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 1px;
}
.banner-sale__text__chevronL {
    position: absolute;
    left: 4.67px;
    right: 5.33px;
    top: 2.67px;
    bottom: 2.67px; 
}
.banner-sale__text__Box-chevronR {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 258px;
    top: 1px;
}
.banner-sale__text__chevronR {
    position: absolute;
    left: 5.33px;
    right: 4.67px;
    top: 2.67px;
    bottom: 2.67px;
    transform: matrix(-1, 0, 0, 1, 0, 0); 
}
.banner-sale__text_Box-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 218px;
    height: 18px;
    left: 28px;
    top: 0px;
    gap: 4px;
    justify-content: center;
}
.banner-sale__text_text1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF; 
}
.banner-sale__text_text2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration-line: underline;
}
.hero-slider {
    position: absolute;
    width: 1920px;
    height: 800px;
    left: -28px;
    top: 164px;
}
.hero-slider__t1 {
    position: absolute;
    width: 184px;
    height: 27px;
    left: 345px;
    top: 140px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.hero-slider__t2 {
    position: absolute;
    width: 500px;
    height: 94px;
    left: 345px;
    top: 179px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #1E212C;
}
.hero-slider__slider-img {
    width: 1920px;
    height: 800px;
    left: -28px;
    top: 164px;
    background: url(/pic/main/slider_img.png);
}